@font-face {
  font-family: "Roboto Condensed";
  font-weight: 400;
  src: local("Roboto Condensed"),
    url(./assets/fonts/RobotoCondensed-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
